@keyframes anglemoving {
    0% {
        bottom: 20px;
    }

    50% {
        bottom: 30px;
    }

    100% {
        bottom: 20px;
    }
}

@keyframes shielldeffect {

    0% {
        transform: rotatey(45deg);
    }

    50% {
        transform: rotatey(0deg);
    }

    100% {
        transform: rotatey(-45deg);
    }

}

@keyframes rocketeffect {

    0%,
    100% {
        transform: translate(-1px, -1px);
    }

    50% {
        transform: translate(1px, 1px);
    }
}

@keyframes comentseffect {
        
    0% {
        transform: rotate(0deg);
    }
    
    25% {
        transform: rotate(2deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-2deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* Estilos Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

#page-container {
    position: relative;
    /* background-color: #fff; */
}

section {
    overflow: hidden;
}

.fa-angle-down {
    cursor: pointer;
    position: absolute;
    bottom: 20px;

    padding: 9px 10px;

    border-radius: 50%;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.36);
    color: #fff;
    animation: anglemoving 1s;
    animation-iteration-count: infinite;
}

.hide {
    display: none;
}

body {
    min-height: 300vh;
    background-color: #ededed;
}

/* --------------------------------------------------------Header----------------------------------------------- */

#page-container header {
    z-index: 0;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    height: 100vh;

    background-image: url(../img/mainbanner.png);
    background-attachment: fixed;
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#page-header h1,
#page-header p {
    position: relative;
    bottom: 20%;
    max-width: 80%;

    cursor: default;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.36);
}

#page-header h1 {
    text-align: center;
    font-size: 60px;
}

#page-header p {
    text-align: center;
    font-size: 20px;
}


#page-header nav#navbar {
    position: absolute;
    top: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 15px;
    width: 100%;
    height: 60px;
}

#navbar a>img {
    cursor: pointer;
    max-width: 40px;
    opacity: 70%;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

#navbar a>img:hover {
    transform: scale(1.1);
    opacity: 100%;
}

ul#navbar-options {
    display: flex;
    align-items: center;
    list-style: none;
    column-gap: 20px;

    height: 40px;
}

#navbar-options a {
    color: #ffffff;
}

#navbar-options li {
    transition: transform 0.3s ease-out, opacity 0.3s ease;
    opacity: 70%;
}

#navbar-options li:hover {
    transform: translatey(5px);
    opacity: 100%;
    border-bottom: 3px solid #ffffff;
}

#navbar-options li #nav-login {
    padding: 10px;
    background-color: #88c057;
    border-radius: 5px;
}


#page-header #water-mark {
    position: absolute;
    bottom: 1vh;
    right: 1vh;

    font-style: italic;
    font-size: 1.3vh;
    opacity: 20%;
}

/* -----------------------------------------------------page-body----------------------------------------------- */

/* section id="benefits" */

#benefits {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 120px;

    box-shadow: rgba(0, 0, 0, 0.47) 0px 0px 9px 3px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.47) 0px 0px 9px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.47) 0px 0px 9px 3px;
}

#benefits-description {
    margin: 120px 0;
    text-align: center;
    /* max-width: 80%; */
}

#benefits-description h2 {
    font-size: 50px;
}

#benefits-description p {
    font-size: 30px;
}

#benefits ul#vantagens {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    list-style: none;
    max-width: 90%;
}


ul#vantagens li {
    text-align: center;
    min-width: 300px;
    flex: 1;
}

ul#vantagens i {
    font-size: 60px;
    margin-bottom: 5px;
}

ul#vantagens .fa-shield-alt {
    color: #2cc76a;
    animation: shielldeffect 3s ease infinite;
}

ul#vantagens .fa-rocket {
    color: #ef3f29;
    animation: rocketeffect 0.2s ease infinite;
}

ul#vantagens .fa-comments {
    color: #ef8f29;
    animation: comentseffect 1s ease infinite;
}

ul#vantagens h3 {
    color: #1f1f1f;
    font-size: 20px;
    margin-bottom: 10px;
}

ul#vantagens p {
    color: #70747a;
}

/* section id="plans" */


section#plans {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

#plans #plans-description {
    text-align: center;
    margin: 100px 0;
    width: 90%;
}

#plans-description h2 {
    font-size: 40px;
}

#plans-description p {
    font-size: 25px;
}

ol#plans-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;

    width: 80%;
    list-style: none;
}

ol#plans-options .option {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0.25;

    min-width: 250px;
    padding: 5px;

    border-radius: 10px;
    background-color: #dfdfdf;
    border: 3px solid #1f1f1f;
    transition: transform 0.5s ease;
}

ol#plans-options .option:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.option .green {
    background-color: #55cc87;
}

.option .red {
    background-color: #cc5555;
}

.option h3 {
    padding: 20px 0;
    width: 100%;

    font-size: 20px;
    text-align: center;
    border-radius: 10px 10px 0 0;
    /* border-bottom: 2px dashed #1f1f1f; */
    color: #fff;
}

.option ul {
    list-style: none;
    padding: 15px 30px;
    width: 100%;
}

.option ul>li {
    margin-bottom: 15px;
    width: 100%;
    transition: text-decoration 0.3s ease;
}

.option ul>li:hover {
    margin-bottom: 1px solid black;
    /* margin-left: 20px; */
}

.option ul>li:last-child {
    margin-bottom: 0px;
}

.option p {
    width: 100%;

    padding: 5px 0;
    font-size: 20px;
    text-align: center;
}

.option button {
    padding: 20px 0;
    width: 100%;

    border: 2px dashed #1f1f1f;
    border-radius: 0 0 10px 10px;
    font-size: 20px;
    font-weight: bolder;
    filter: brightness(90%);
    cursor: pointer;
}

/* Search domain */
.searchdomain-container {
    background-color: #34454e;
    text-align: center;
    padding: 5rem 0;
}

.searchdomain-container h2 {
    color: #fff;
    font-size: 42px;
    margin-bottom: 15px;
}

.searchdomain-container p {
    color: #d5d5d5;
    font-size: 24px;
    margin-bottom: 25px;
}

.searchdomain-container input[type="text"] {
    width: 50%;
    height: 70px;
    padding: 20px;
    font-size: 20px;
}

.searchdomain-container button {
    border: none;
    background-color: #2dc76a;
    padding: 20px;
    height: 71px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    opacity: 0.7;
}


.contact-container{
    padding: 3rem 2rem;
}

.contact-container input,
.contact-container textarea{
    width: 100%;
    margin: 10px 0;

}


.contact-container{
    text-align: center;
    padding: 5rem 0 2rem 0;
    border-top: 3px solid;
}

.contact-container h2{
    font-size: 36px;
    margin-bottom: 15px;
}

.contact-container p{
    font-size: 20px;
    margin-bottom: 40px;
}

.contact-container input,
.contact-container textarea{
    width: 200px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 0 10px 20px;
}

.contact-container textarea{
    display: block;
    margin: 0 auto 20px;
    width: 470px;
    height: 175px;
    resize: none;
}

.contact-container input[type="submit"]{
    display: block;
    margin: 0 auto;
    background-color: #2cc76a;
    color: #fff;
    cursor: pointer;
}

footer{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: #34454e;
    width: 100%;
    height: 200px;

    font-size: 30px;
    font-style: italic;

}

footer a{
    color: #9eafff;
    font-weight: 300;
}